/* Estilos para el componente de registro (Register) */
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container p {
  color: #333;
  margin-bottom: 10px;
}

.register-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #1a682c;
}
